<div class="detail_retail">
	<p class="retail_name"><%= name %></p>
	<p class="retail_review"><%= reviewNumber %> reviews</p>
	<p class="retail_type"><%= type %></p>
	<p class="retail_location"><%= location %></p>
</div>

