<div class="detail_retail">
	<p class="retail_name"><%= name %></p>
	<p class="retail_review"><%= reviewNumber %> reviews</p>
	<p class="retail_type"><%= type %></p>
	<p class="retail_location"><%= location %></p>
</div>

<div class="detail_vis1">
	<p class="header_s">Detail Vis1</p>
</div>

<div class="detail_vis2">
	<p class="header_s">Detail Vis2</p>
</div>
