.sideBar {
	background-color:#494544;
	padding-left: 0px;
	padding-right: 0px;
	width:10%;
}

.sideBar .btn {
	background-color:#545454;
	border-width:0;
	color:#b2adac;
	font-size:14px;
}

.sideBar .btn:hover {
	background-color: #f8f8f8;
	color:#494544;
	font-weight:bold;
}
.mainGraph{
	overflow: hidden;
	width:60%;
}
.name {
	background-color: #ef6a50;
	min-height: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	text-align:center;
}

ul li {
	border: 0px solid #fff !important;
}

.list-group {
	padding: 0px 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 160px;
    overflow-x: hidden;
}

.year{
	margin-bottom: 30px;
	margin-top:10px;
}

.price{
	margin-top: 30px;
}

.btn-group-vertical > button {
	margin-bottom: 10px;
}

 #map { 
 	height: 360px;
 	width: 100%; 
 }

#graph{
	background-color: #f0f0f0;
	margin-bottom: 30px;
}

 path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.detail{
	background-color: #f0f0f0;
	width:30%;
	padding:0px;
}
.header_s{
	font-size:12px;
	margin-bottom:-3px;
	color:#fff;
}
.header_l{
	font-size:28px;
	margin-bottom:-6px;
	font-weight:500;
}


.year_dropdown {
	width:120px;
	color:#000;
}

.detail_retail {
	height:100px;
	background-color:#dddcdb;
	padding-top:10px;
	padding-left:15px;
}

	.retail_name {
		font-size:24px;
		margin-bottom:0px;
	}

	.retail_review{
		font-size:12px;
		margin-bottom:0px;

	}
	.retail_type{
		font-size:12px;
		margin-bottom:0px;

	}
	.retail_location{
		font-size:12px;
		margin-bottom:0px;
	}

.detail_vis1 {
	height:300px;
	/*background-color:#817392;*/

}


.detail_vis2 {
	height:300px;
	/*background-color:#582942;*/
}
.vis2_content{
	margin: 0 auto;
	padding: 15px;
}

.tooltip {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: rgba(255,255,255,0.7);
  pointer-events: none;
}