.content {
	width:1400px !important;
}



.sideBar {
	background-color:#494544;
	padding-left: 0px;
	padding-right: 0px;
	width:10%;
	min-height: 700px;
}

.sideBar .btn {
	background-color:#545454;
	border-width:0;
	color:#b2adac;
	font-size:14px;
}

.sideBar .btn:hover {
	background-color: #d6d4d3;
	color:#494544;
	
}

.sideBar .btn:focus {
	background-color: #C5D668;
	color:#494544;
	font-weight:bold;
}



.mainGraph{
	overflow: hidden;
	width:60%;
}
.name {
	background-color: #ef6a50;
	min-height: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	text-align:center;
}

ul li {
	border: 0px solid #fff !important;
}

.list-group {
	padding: 0px 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 160px;
    overflow-x: hidden;
}

.year{
	margin-bottom: 30px;
	margin-top:10px;
}

.price{
	margin-top: 30px;
	margin-bottom: 20px;
}

.btn-group-vertical > button {
	margin-bottom: 10px;
}

 #map { 
 	height: 360px;
 	width: 100%; 
 }

#graph{
	background-color: #f0f0f0;
	margin-bottom: 30px;
}

/* path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}*/

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}

.x.axis text {
	font-size:10px;
}

.x.axis .label {
	opacity:0.8;
}
.y.axis line {
  fill: none;
  stroke: #000;
}

.y.axis text {
	font-size:10px;
}

.y.axis .label {
	opacity:0.8;
}



.y.axis path {
	stroke:#000;
	fill:none;
	stroke-width: 1;
}




.x.axis_t text {
	font-size:10px;
	fill:#fff;
}


.y.axis_t text {
	font-size:10px;
	fill:#fff;
}



.y.axis_t path {
	stroke:#fff;
	fill:none;
	stroke-width: 1;
}

.x.axis_t path {
	stroke:#fff;
	fill:none;
	stroke-width: 1;
}



.detail{
	width:30%;
	padding:0px;
}
.header_s{
	font-size:12px;
	margin-bottom:-3px;
	color:#fff;
}
.header_l{
	font-size:28px;
	margin-bottom:-6px;
	font-weight:500;
}


.year_dropdown {
	width:120px;
	color:#000;
}

.detail_retail {
	height:120px;
	background-color:#ef6a50;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
}

	.retail_name {
		font-size:18px;
		margin-bottom:0px;
		color:#fff;
		font-weight:bold;
	}

	.retail_review{
		font-size:14px;
		margin-bottom:0px;
		color:#fff;
	}
	.retail_type{
		font-size:12px;
		margin-bottom:0px;
		font-weight:bold;

	}
	.retail_location{
		font-size:12px;
		margin-bottom:0px;

	}

.detail_vis1 {
	height:250px;
	background-color:#f0f0f0;

}


.detail_vis2 {
	height:315px;
	margin-top:10px;
	background-color:#494544;
	padding-left:20px;
	padding-right:20px;
}
.vis2_content{
	margin-top:0px;
	padding: 15px;
}

.vis2_title_text {
	color:#fff;
	font-size:18px;
	font-weight:bold;

}

.vis2_title{
	height:30px;
	background-color:#494544;
	padding-top:10px;
	padding-left:15px;
}

.tooltip {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: rgba(255,255,255,0.7);
  pointer-events: none;
}

.category{
	margin-top: 30px;
}

